[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
[safe]
	directory = /Users/mathias/repos/virtual
[user]
	name = mathitejeda
	email = mathi.tejeda@gmail.com
